:root {
  --deep-purple: #281c59;
  --teal-blue: #4e8d9c;
  --grass-green: #85c79a;
  --lime-green: #edf7bd;

  --site-width: 800px;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
} /* =10px */

body {
  font-size: 1.8rem;
} /* =18px */

body {
  margin: 0;
  background-color: var(--lime-green);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: var(--deep-purple);
}

header {
  width: 100%;
  max-width: var(--site-width);
  margin: 0 auto;
  background-color: var(--grass-green);
}

header {
  background-color: var(--grass-green);
  border-radius: 0px 0 0;
}

header > section {
  padding: 20px;
  background-color: var(--deep-purple);
  color: var(--grass-green);
  border-radius: 0px 0 15px;
}

main {
  width: 100%;
  max-width: var(--site-width);
  margin: 0 auto;
  background-color: var(--grass-green);
}

main {
  margin-top: 0;
  overflow: auto;
}

footer {
  max-width: var(--site-width);
  margin: 0 auto;
  background-color: var(--grass-green);
  border-radius: 0px 0 0px;
}

footer > section {
  padding: 40px 20px;
  background-color: var(--deep-purple);
  color: var(--grass-green);
  border-radius: 15px 0 0px;
}

.white-frame {
  background-color: #fff;
  padding: 20px;
  overflow: auto;
  margin: 20px;
  overflow: auto;
  border-radius: 15px 0;
}

main > section {
  padding: 20px;
}

.flexbox {
  display: flex;
  list-style: none;
  gap: 10px;
  padding: 0px;
  flex-wrap: wrap;
}

.flexbox li {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: white;
  text-align: center;
  font-size: 2rem;
  line-height: 2em;
}
